#include "scylla.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };
};

/* offset правої половини робимо через transform */
&default_transform {
    col-offset = <6>;
};

/* СТВОРЮЄМО kscan0 (а не &kscan0) */
&{/} {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        /* Розвернутий порядок стовпців (inputs) */
        col-gpios = <
            &gpio0 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
        >;

        /* Рядки (outputs) — БЕЗ PULL_DOWN */
        row-gpios = <
            &gpio0 22 GPIO_ACTIVE_HIGH
            &gpio0 24 GPIO_ACTIVE_HIGH
            &gpio1 0  GPIO_ACTIVE_HIGH
            &gpio0 11 GPIO_ACTIVE_HIGH
            &gpio1 6  GPIO_ACTIVE_HIGH
            &gpio1 4  GPIO_ACTIVE_HIGH
        >;
    };
};
