#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 0: Цифри (Pin 0.22)
                &kp ESC   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5
                
                // Row 1: QWERTY (Pin 0.24)
                &kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T
                
                // Row 2: ASDF (Pin 1.00)
                &kp LSHIFT &kp A  &kp S  &kp D  &kp F  &kp G
                
                // Row 3: ZXCV (Pin 0.11)
                &kp LCTRL &kp Z  &kp X  &kp C  &kp V  &kp B
                
                // Row 4: Великий палець (Pin 1.04)
                // Тут 6 слотів, але кнопок у вас може бути 5 або 3. 
                // Вони будуть серед цих клавіш:
                &kp LBKT  &kp RBKT &kp SPACE &kp ENTER &kp BSPC &kp DEL
            >;
        };
    };
};