#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
/* Row 0 */  &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y
/* Row 1 */  &kp A   &kp S   &kp D   &kp F   &kp G   &kp H
/* Row 2 */  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N
/* Row 3 */  &kp LSHFT &kp LCTL &kp LALT &kp SPC &kp BSPC &kp ENTER
/* Row 4 */  &kp ESC &kp TAB &kp LGUI &kp LEFT &kp DOWN &kp UP
/* Row 5 */  &kp RIGHT &kp M &kp COMMA &kp DOT &kp SLASH &kp MINUS
            >;

        };
    };
};
